header {
    background-color: #ffdd00;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    width:100%;
}

cards li {
    display: inline;
}

price {
    text-align:right
}