header {
    background-color: #ffdd00;
    position: static;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    width:100%;
}

li {
    width:225px;
    margin: 15px;
    float: left
}

price {
    float:right;
}